body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(141, 141, 141);
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: none;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(97, 96, 96);
    color: antiquewhite;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}


button:hover{
    background-color: hsl(0, 0%, 40%);
}

.operatorbtn{
    background-color: rgb(33, 167, 44);
}

.operatorbtn:hover{
    background-color: rgb(87, 238, 100);
}

.operatorbtn2{
    background-color: rgb(231, 113, 3);
}

.operatorbtn2:hover{
    background-color: rgb(255, 185, 79);
}

.operatorbtn3{
    background-color: rgb(21, 145, 134);
}

.operatorbtn3:hover{
    background-color: rgb(86, 215, 255);
}